.container {
}

.tab-bar {
    position: fixed;
    bottom: 0;
    background-color: #F9F9F9;
    opacity: 0.9;
    padding-top: 2px;
    border-top: 1px #F3F3F3;
}

.tab-bar-item {
    flex-direction: column;
    width: 100%;
}

.tab-bar-content {
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.tab-text {
    font-size: 16px;
}

.tab-text-active {
    color: #2983FC;
}

.tab-image {

}
